<style type="text/css">
p { text-align: left; }
.reveal ul {
    width: 900px;
}

.reveal strong { color: lawngreen;
                 font-style: normal;
                 font-weight: bold;
               }

/* all headers are transformed to h1 by reveal.js, */
/* even individual slide headers. */
/* hence, h1 font size should not be too large */
.reveal h1 {
    font-style: normal;
    font-size: 1.5em;
    font-weight: bold;
}

.reveal h2 {
    font-style: normal;
    font-size: 1.2em;
    font-weight: bold;
}

.reveal h2 {
    font-style: normal;
    font-size: 1.1em;
    font-weight: bold;
}

.reveal h3 {
    font-style: normal;
    font-size: 1.0em;
    font-weight: bold;
}

pre code {
  display: block; padding: 0.5em;
  background: #3F3F3F;
  color: #DCDCDC;
}

</style>
